.menu-header {
    box-shadow: none;
}

.menu-btn {
    --background: transparent;
    --box-shadow: none;
    --min-height: 81px;
    position: absolute;
    z-index: 22;
    --side-max-width: 50px;
    --side-min-width: 20px;
    height: 81px;
}

.split-menu {
    position: absolute;
    max-width: 50%;
    min-width: 50px;
    transition: max-width 0.5s ease-in-out;
    z-index: 1;
    margin-top: 84px;
}

.split-menu.close {
    max-width: 50px;
    /* margin-top: 80px; */
    /* position: relative; */
}

.sidebar-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hr-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

.hr-dropdown.hide {
    display: none;
}

.m-68 {
    margin-top: 68px;
}

.hr-dropdown p {
    margin: 0;
}