.main-sidebar {
    width: 160px;
    height: 100%;
}

/* .sidebar-icon {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
} */

/* .sidebar-icon.active {
    background-color: #7c3aed;
    color: #fff;
} */

/* .sidebar-icon:hover {
    background-color: rgb(124 58 237);
    color: #fff;
} */

.sidebar-item {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.ion-padding.p-10 {
    padding: 10px;
}

.ion-item {
    --background: transparent;
    --border-style: none;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.leave-sidebar-item {
    position: relative;
    overflow: visible;
}

.sidebar-item-content-heading {
    display: flex;
    align-items: center;
    gap: 40px;
}

.dropdown-list {
    position: absolute;
    list-style: none;
    z-index: 5;
    right: 2px;
    bottom: -95px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border-left: 1px solid;
    transition: all 0.5s ease-in-out;
}

.dropdown-list li {
    position: relative;
    transition: all 0.5s ease-in-out;
}

.dropdown-list .dropdown-list-item {
    overflow: visible;
}

.dropdown-list .dropdown-list-item::before {
    position: absolute;
    content: '';
    background-color: grey;
    width: 30px;
    height: 1px;
    bottom: 50%;
    left: -46%;
}

.t-180 {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
} 